body {
    font-size: 0;
    /*background: url("images/question.png") repeat;*/
    /*background-size: 80%;*/
    background-color: rgba(102, 0, 204, 0.8);
}

body {
    font-size: 0;
}

body > * {
    font-size: 1rem;
}

.header {
    text-align: center;
}

.answer, .not_exist {
    display: none;
}

div .btn {
    margin-bottom: 2em;
}

h2:last-child {
    color: green;
}

img {
    width: 3em;
    float: left;
    margin-top: -2%;
}

#final_tally1 {
    margin-bottom: 5em;
}