body {
    font-size: 0;
    background: url("images/question_marks.png") repeat center;
    background-size: 60%;
    background-color: rgba(102, 0, 204, 0.8);
}

body {
    font-size: 0;
}

body > * {
    font-size: 1rem;
}

/*h2 {*/
    /*color: white;*/
/*}*/

.header {
    text-align: center;
}

.answer, .not_exist {
    display: none;
}

div .btn {
    margin-bottom: 2em;
}

h2:last-child {
    color: rgba(255, 128, 0, 0.9);
    margin-left: 17%;
    margin-right: 15%;
}

div.instructions h2 {
    margin-left: 0;
    margin-right: 0;
}

img {
    margin: auto;
    display: block;
    width: 60%;
}

h2 img {
    width: 3.5em;
    float: left;
    margin: -3% 0 0 0;
}

#final_tally1 {
    margin-bottom: 5em;
}

.disclaimer {
    background-color: rgba(255, 128, 0, 0.8);
    margin-bottom: -15%;
}

h1 small, h2 {
    color: white;
}

h1 {
    color: rgba(255, 128, 0, 1);
}

h3 {
    margin-bottom: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 90%;
    margin: 0;
    padding-bottom: 6rem;
}

.disclaimer1 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

button.btn {
    background-color: rgba(255, 128, 0, 0.8);
}

/*@media screen and (max-width: 550px) {*/
    /*h2:last-child {*/
        /*margin-left: 17%;*/
    /*}*/
    /*div.instructions h2 {*/
        /*margin-left: 0;*/
    /*}*/
/*}*/