body {
    font-size: 0;
    background-color: rgb(105,105,105);
    padding-top: 165px;
    position: relative;
    min-height: 90%;
    margin: 0;
    padding-bottom: 6rem;
}

body > * {
    font-size: 1rem;
}

.header {
    text-align: center;
}

.answer, .not_exist {
    display: none;
}

div .btn {
    margin-bottom: 2em;
}

h2:last-child {
    margin-left: 17%;
    margin-right: 15%;
}

div.instructions h2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.1em;
}

img {
    margin: auto;
    display: block;
    width: 60%;
}

h2 img {
    width: 3.5em;
    float: left;
    margin: -3% 0 0 0;
}

#final_tally1 {
    margin-bottom: 5em;
}

.disclaimer {
    margin-bottom: -15%;
}

h1 small, h2 {
    color: #fff;
}

h1, h3, button.btn {
    color: rgb(128,128,128);
}

#final_tally_yes, #final_tally_no, h2:last-child {
    color: #000;
}

h3 {
    margin-bottom: 0;
    font-weight: 400;
}

html {
    height: 100%;
}

.disclaimer1 {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

button.btn, .disclaimer, .container.header {
    background-color: #000;
}

button.btn {
    font-weight: bold;
    font-size: 2em;
    width: 8em;
}

.body2 {
    padding-top: 0;
}

@media (min-width: 768px) {
    div.container.header {
        min-width: 950px;
    }
}